@using PagedList
@using PagedList.Mvc
@model  StaticPagedList<Crawler.Sample.Domain.Entity.Articles>
@{
    ViewBag.Title = "首页";
}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div id="ajaxData" style="width:80%">
                @{
                    if (Model != null)
                    {
                        <div style="margin-top:20px;"><p>获得约 @ViewBag.Count 条结果，用时 @ViewBag.Time 秒</p></div>
                        foreach (var item in Model)
                        {
                            <div style="margin-top:20px;">
                                <a href="/Home/Detail/@item.Id" target="_blank"><h4>@Html.Raw(item.Title)</h4></a>
                                <span>原始地址：<a href="@item.Url" target="_blank">@item.Url</a></span>
                            </div>
                        }
                       @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }))
                    }
                    else
                    {
                        <div style="margin-top:20px;"><h4>没有数据</h4></div>
                    }
                }
            </div>
        </div>
    </div>
</div>